<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Intro_To_Computer_Science_1/src/SteepleChaseRoom.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="SteepleChaseRoom"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Intro_To_Computer_Science_1"/>
</launchConfiguration>
